.main-custom {
    background-image: url("../images/background.jpg");
    margin-left: 15px;
}

.main-header {
    margin-top: 20px;
    margin-bottom: 25px;
}
.character-container-main {

}

.character-container, .defender-container, .my-character, .my-opponent {
    padding: 20px 20px 0px 20px;
    background-color: gainsboro;
    border: 4px solid brown;
    margin: 0px 20px 0px 0px;

}

.character-description {
    text-align: center;
}



.top-buffer {
    margin-top: 20px;
}

.image-class {
    margin: auto;
    clear: both;
}